extends ../layout
block content
    .container.col-sm-offset-1.col-md-8
        form.form-horizontal(method="post" action="/admin/issue")
            input(type="hidden",name="issue[creator]",value="#{issue.creator}")
            if issue._id
                h3.page-header 编辑需求
                input(type="hidden",name="issue[_id]",value=issue._id)
            else
                h3.page-header 新建需求
            .form-group
                label.col-sm-2.control-label 所属业务线
                each line in lines
                    if issue.belongLineId == line.id
                        label.radio-inline
                            input(type="radio",name="issue[belongLineId]",value=line._id,checked)
                            | #{line.name}
                    else
                        label.radio-inline
                            input(type="radio",name="issue[belongLineId]",value=line._id)
                            | #{line.name}
            .form-group
                label.col-sm-2.control-label 需求主题
                .col-sm-10
                    input.form-control(type="text",name="issue[name]",value=issue.name)
            .form-group
                label.col-sm-2.control-label 需求描述
                .col-sm-10
                    textarea.form-control(type="text",cols="30",rows="4",name="issue[desc]",value=issue.desc) #{issue.desc}
            if issue._id
                .form-group
                    label.tit.col-sm-2.control-label(for="J_CheckIn") 开始日期
                    .col-sm-5
                        input.form-control.f-text(type="text",name="issue[start]",value="#{moment(issue.start).format('YYYY/MM/DD')}")
                .form-group
                    label(for="J_CheckOut").tit.col-sm-2.control-label 结束日期
                    .col-sm-5
                        input.form-control.f-text(type="text",name="issue[end]",value="#{moment(issue.end).format('YYYY/MM/DD')}")
            else
                .form-group
                    label.tit.col-sm-2.control-label(for="J_CheckIn") 开始日期
                    .col-sm-5
                        input.form-control.f-text(type="text",name="issue[start]",value=issue.start)
                .form-group
                    label(for="J_CheckOut").tit.col-sm-2.control-label 结束日期
                    .col-sm-5
                        input.form-control.f-text(type="text",name="issue[end]",value=issue.end)
            .form-group
                label.col-sm-2.control-label 需求状态
                .col-sm-5
                    select(name="issue[condition]").form-control
                        option(value="0") 需求分析中
                        option(value="1") PRD整理中
                        option(value="2") 原型设计中
                        option(value="3") 视觉稿设计中
                        option(value="4") demo制作中
                        option(value="5") 前后端联调中
                        option(value="6") 测试中
                        option(value="7") 发布
            .form-group
                label.col-sm-2.control-label 需求所需角色
                .col-sm-10
                    label.role-select
                        input(type="checkbox",name="issue[role]",value="0")
                        span(style="margin-left:5px") PD
                    label.role-select
                        input(style="margin-left:20px",type="checkbox",name="issue[role]",value="1")
                        span(style="margin-left:5px") 交互
                    label.role-select
                        input(style="margin-left:20px",type="checkbox",name="issue[role]",value="2")
                        span(style="margin-left:5px") 视觉
                    label.role-select
                        input(style="margin-left:20px",type="checkbox",name="issue[role]",value="3")
                        span(style="margin-left:5px") 前端
                    label.role-select
                        input(style="margin-left:20px",type="checkbox",name="issue[role]",value="4")
                        span(style="margin-left:5px") 开发
                    label.role-select
                        input(style="margin-left:20px",type="checkbox",name="issue[role]",value="5")
                        span(style="margin-left:5px") 测试
            .form-group
                .col-sm-offset-2.col-sm-10
                    button.btn.btn-default(type="submit") 保存
